*{
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}
body{
    background-color:rgb(214, 206, 196);
}

header{
    margin: 0px;
    background-color: rgb(177, 5, 5);
    border-bottom: 2px solid black;
}
.imgCarousel {
    background-image: url(assets/images/BandPhoto_2023_10_15_01_07_30.jpg);
    background-position: 0px 25%;
    background-size: cover;
}

.content{
    display: flex;

    justify-content: space-between;
    padding: 30px;
}